<div class="container">
    <div class="card-form">
        <div class="card-header">
            <h1>Edit Category</h1>
        </div>

        {{#if error}}
        <span class="error">{{error}}</span>
        {{/if}}

        <form action="/edit-category/{{category._id}}{{_id}}?_method=put" method="POST">
            <input type="hidden" name="_method" value="put">
            <div class="form-group">
                <label for="title">Category Name</label>
                <input type="text" id="title" name="categoryName" value="{{category.categoryName}}{{categoryName}}">
            </div>
            <button class="card-form-button" type="submit">Save</button>
        </form>
    </div>
</div>