<div id="container" class="container">
    
    {{#if user}}
    <div class="btn-right">
        <a href="/new-article" class="btn green">New Artile</a>
    </div>
    {{/if}}

    {{#each article.docs}}

    <div class="card">
        <img src="{{image}}" class="img-article" alt="">
        <div class="card-body">
            <div class="title">
                <h2>{{title}}</h2>
            </div>
            <div class="description">
                <p>{{description}}</p>
                <p class="fecha">{{date createdAt}} - <a href="/category/{{category}}" class="category">{{category}}</a></p>
            </div>
            <a href="/article/{{titleUrl}}" class="more">Read More</a>
            {{#if ../user}}
            <form action="/delete-article/{{_id}}?_method=delete" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-float-right red"><i class='bx bx-trash'></i></button>
            </form>
            <a href="/edit-article/{{_id}}" class="btn btn-float-right green"><i class='bx bx-edit'></i></a>
            {{/if}}
        </div>
    </div>

    {{/each}}

    <div class="pagination">
        <ul>
            {{#if article.hasPrevPage}}
            {{#if category}}
            <li><a href="/category/{{category.category}}?page={{article.prevPage}}"><i class='bx bxs-chevron-left'></i></a></li>
            {{else}}
            <li><a href="/?page={{article.prevPage}}"><i class='bx bxs-chevron-left'></i></a></li>
            {{/if}}
            {{/if}}
            
            {{#if category}}
            {{#each (pagination article category.category)}}
            {{{this}}}
            {{/each}}
            {{else}}
            {{#each (pagination article)}}
            {{{this}}}
            {{/each}}
            {{/if}}

            {{#if article.hasNextPage}}
            {{#if category}}
            <li><a href="/category/{{category.category}}?page={{article.nextPage}}"><i class='bx bxs-chevron-right'></i></a></li>
            {{else}}
            <li><a href="/?page={{article.nextPage}}"><i class='bx bxs-chevron-right'></i></a></li>
            {{/if}}
            {{/if}}
        </ul>
    </div>

</div>